@import "tailwindcss";
@import "tw-animate-css";

body {
background-color: black;
}
.originalNavbar{
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;

}
.logo{
  font-size: 1.5rem;
  padding: 1rem;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: flex;
  animation: marquee 10s linear infinite;
}
